<html>
<head>
    <title>Create Dog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
       <h1> Create Dog</h1>
       <form method="post" action="/create" >
           <label> Name</label>
           <input type="text" name="Name" />

            <label> Age</label>
            <input type="number" name="Age" />
            <br />
            <input type="submit" value="Create" />
       </form>
</body>
</html>