@using MVCDog.Models
@model Dog[]
<html>
<head>
    <title>Dogs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <ul>
        @foreach(var dog in Model)
        {
            <li>
                <a href="/edit/@dog.Id">@dog.Name</a>
                <form method="post" action="/delete">
                    <input type="submit" value="Delete" />
                </form>
            </li>
        }
    </ul>

     <button onclick="location.href='/Create'">Create New Dog</button>
   
</body>
</html>